<div class="container-fluid">
  <div class="row mb-5 bg-dark text-white py-4 px-3">
    <div class="col-md-3">
      <label for="roll-filter">JobRole</label>
      <select
        id="roll-filter"
        [(ngModel)]="selectedRole"
        class="form-control"
        (change)="onFilterChange('role', selectedRole)"
      >
        <option value="">Select Job Role</option>
        <option *ngFor="let job of data" [value]="job.role">
          {{ job?.role }}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="technology-filter">Technology</label>
      <select
        id="technology-filter"
        [(ngModel)]="selectedTechnology"
        class="form-control"
        (change)="onFilterChange('technology', selectedTechnology)"
      >
        <option value="">Select Technology</option>
        <option *ngFor="let job of data" [value]="job.technology">
          {{ job?.technology }}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="experience-filter">Experience</label>
      <select
        id="experience-filter"
        [(ngModel)]="selectedExperience"
        class="form-control"
        (change)="onFilterChange('experience', selectedExperience)"
      >
        <option value="">Select Experience</option>
        <option *ngFor="let job of data" [value]="job.experience">
          {{ job?.experience }}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="ctc-filter">CTC</label>
      <select
        id="ctc-filter"
        [(ngModel)]="selectedCTC"
        class="form-control"
        (change)="onFilterChange('ctc', selectedCTC)"
      >
        <option value="">Select CTC</option>
        <option *ngFor="let job of data" [value]="job.ctc">
          {{ job?.ctc }}-LPA
        </option>
      </select>
    </div>
  </div>
  <div class="filer-job">
    <div *ngFor="let job of filteredJobs" class="card my-3 mx-5">
      <div class="card-body">
        <h5 class="card-title">{{ job?.title }}</h5>
        <div class="row">
          <div class="col-md-6">
            <h5 class="card-text">
              <img [src]="job.logo" alt="" width="30px" /> {{ job?.company }}
            </h5>
            <p class="card-text">{{ job?.position }}</p>
            <p class="card-text">
              {{ job?.experience }} | {{ job.contract }} | {{ job.location }}
            </p>
          </div>
          <div class="col-md-6 d-flex text-end">
            <p class="card-text d-flex">
              {{ modifyTechnology(job?.technology) }}
            </p>
            <p class="card-text px-3">{{ job?.ctc }}-LPA</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
